.navbar-default {
  background-color: #00ff00	;
  border-color: red;
}

.navbar-default .navbar-nav > li > a {
  color: black;  /* Adjust text color as needed */
}

.navbar-default .navbar-brand {
  color: black;  /* Adjust brand color as needed */
}


/* Change the background color and text color of the file input field */
input[type="text"].form-control,
input[type="file"].form-control {
  background-color: black !important;  /* Changes the background color to black */
  color: white !important;             /* Changes the text color to white */
  border-color: white !important;      /* Changes the border color to black */
}

.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter {
  text-align: right;
}

table.dataTable {
  width: 100% !important;
  margin: 0 auto;
}

table.dataTable th, 
table.dataTable td {
  white-space: nowrap;
  text-align: center;
}

table.dataTable thead th {
  background-color: #343a40;
  color: white;
}


